In [1]:
import pandas as pd
from fuzzywuzzy import fuzz

In [2]:

# Load the two CSV files into pandas dataframes
a = pd.read_csv('a.csv')
b = pd.read_csv('b.csv')

In [4]:
a

                             Brewery
0                  't Hofbrouwerijke
1               1516 Brewing Company
2            16 Mile Brewing Company
3           1648 Brewing Company Ltd
4     1702 / The Address Brewing Co.
...                              ...
4782   Ölgerðin Egill Skallagrímsson
4783                   Öufi Brauerei
4784                     Ølfabrikken
4785                  Ørbæk Bryggeri
4786            Łódzkie Browary S.A.

[4787 rows x 1 columns]

In [8]:
b.head(50).to_csv('b_new.csv', index=False)

In [9]:
b_new = pd.read_csv('b_new.csv')

In [6]:
def fuzzy_merge(df_1, df_2, key1, key2, threshold=80, limit=1):
    s = df_2[key2].tolist()
    
    m = df_1[key1].apply(lambda x: process.extract(x, s, limit=limit))    
    df_1['matches'] = m
    
    m2 = df_1['matches'].apply(lambda x: ', '.join([i[0] for i in x if i[1] >= threshold]))
    df_1['matches'] = m2
    
    return df_1

In [12]:
merged_table = fuzzy_merge(a, b_new, 'Brewery', 'Brewery', threshold=80, limit=1)

In [14]:
merged_table

,Brewery,matches
0,'t Hofbrouwerijke,
1,1516 Brewing Company,Victory Brewing Company - Downingtown
2,16 Mile Brewing Company,Victory Brewing Company - Downingtown
3,1648 Brewing Company Ltd,Victory Brewing Company - Downingtown
4,1702 / The Address Brewing Co.,Off Color Brewing
...,...,...
4782,Ölgerðin Egill Skallagrímsson,
4783,Öufi Brauerei,Rügener Insel Brauerei GmbH
4784,Ølfabrikken,
4785,Ørbæk Bryggeri,
4786,Łódzkie Browary S.A.,Bell's Brewery - Eccentric Café & General Store

In [72]:
from fuzzywuzzy import fuzz

# Read files
df_a = pd.read_csv('a.csv')
df_b = pd.read_csv('b.csv')

# Define threshold for matching
threshold = 90

# Initialize empty list to store matching rows
matching_rows = []

# Loop through each row in file a
for i, row_a in df_a.iterrows():
    # Loop through each row in file b
    for j, row_b in df_b.iterrows():
        # Calculate Levenshtein distance between the 'Brewery' columns
        dist = fuzz.ratio(row_a['Brewery'], row_b['Brewery'])
        # If the distance is above the threshold, add the matching rows to the list
        if dist >= threshold:
            matching_rows.append((i, j))

# Create a new dataframe with the matching rows
df_matching = pd.DataFrame(matching_rows, columns=['index_a', 'index_b'])
df_matching = df_matching.merge(df_a, left_on='index_a', right_index=True)
df_matching = df_matching.merge(df_b, left_on='index_b', right_index=True)

In [73]:
df_matching

,index_a,index_b,Brewery_x,Brewery_y
0,5,229,192 Brewing Company,D9 Brewing Company
24,1551,229,Day Brewing Company,D9 Brewing Company
1,56,66,Aiken Brewing Company,Pike Brewing Company
38,3377,66,Peak Brewing Company,Pike Brewing Company
2,63,113,Aktien-Brauerei Kaufbeuren AG,Aktienbrauerei Kaufbeuren AG
3,85,184,Alltech’s Lexington Brewing and Distilling Co.,Alltech's Lexington Brewing and Distilling Co.
4,158,309,Asia Pacific Breweries Ltd.,Asia Pacific Breweries Limited
5,201,199,BFM Brasserie Des Franches-Montagnes,BFM (Brasserie des Franches-Montagnes)
6,275,441,Barrel House Brewing Company,Barreled Souls Brewing Company
7,301,212,Beach Brewing Company,Batch Brewing Company
8,307,446,Beartown Brewery,Beavertown Brewery
9,593,174,Bowral Brewing Company,Iowa Brewing Company
35,3024,174,Moa Brewing Company,Iowa Brewing Company
10,618,144,Brasserie Artisanale De Rullés SPRL,Brasserie Artisanale De Rulles SPRL
11,680,313,Brasserie Des Gabariers (L&L Cognac SA),Brasserie des Gabariers (L&L Cognac SA)
12,689,16,Brasserie Dieu Du Ciel,Brasserie Dieu du Ciel!
13,748,50,Brasserie Simon,Brasserie Lion
14,779,385,Brasseurs De Montréal,Brasseur De Montréal
15,824,282,Brauerei Früh Am Dom,Brauerei Früh am Dom
16,976,375,Bray's Brewing Company,Bravus Brewing Company
17,1132,312,Browerij Nacional Balashi,Brouwerij Nacional Balashi
18,1162,316,Buckner Brewing Co.,Bunker Brewing Co.
19,1285,263,Cervecera Mexicana S.A. De C.V.,Cerveceria Mexicana S.A. De C.V.
20,1297,286,Cerveceria Nacional Dominicana,Cervecería Nacional Dominicana
21,1303,374,"Cerveceria Vegana, S.A.",Cervecería Vegana S.A.
22,1496,138,Craft Brewing Company,Crane Brewing Company
23,1498,138,Craggie Brewing Company,Crane Brewing Company
40,4136,138,Strange Brewing Company,Crane Brewing Company
25,1786,106,Fat Heads Brewery & Saloon,Fat Head's Brewery & Saloon
26,1807,457,Finch's Beer Co.,Finch Beer Co.
27,1921,516,Galena Brewing Company,Kalona Brewing Company
28,2086,15,Hair of the Dog Brewing Company / Brewery and ...,Hair Of The Dog Brewing Company / Brewery And ...
29,2198,353,Hermann Brewing Company,Listermann Brewing Company
30,2228,506,Hill Brewing Company,Gun Hill Brewing Company
31,2303,523,Hub City Brewing Company,Four City Brewing Company
32,2640,299,Lagerheads Smokehouse & Brewing Co.,Lager Heads Smokehouse & Brewing Co.
33,2785,511,Lord Nelson Brewery Hotel,The Lord Nelson Brewery Hotel
34,2860,472,Mallinsons Brewing Company,Mason's Brewing Company
36,3024,520,Moa Brewing Company,Wooha Brewing Company
39,4015,520,Soo Brewing Company,Wooha Brewing Company
45,4714,520,Worth Brewing Company,Wooha Brewing Company
37,3147,183,New South Brewing Co.,Due South Brewing Co.
41,4225,207,Temple Brewing Company,Tempest Brewing Company
42,4415,482,Traquair House Brewery Lld,Traquair House Brewery
43,4470,305,U Fleků Pivovaru a Restauraci,U Fleků Pivovar a Restaurace
44,4544,275,Vofas-Engelman,Volfas Engelman
46,4744,290,Yuengling Brewery,Yuengling Brewery
47,4772,304,Žatecký Pivovar,Žatecký Pivovar

In [25]:
import jellyfish

In [54]:
matches = []

# Read the CSV files with the correct encoding
df_a = pd.read_csv('a.csv', encoding='ISO-8859-1')
df_b = pd.read_csv('b.csv', encoding='ISO-8859-1')

# Iterate over each row in file a and find the closest match in file b using Soundex Algorithm
for index, row_a in df_a.iterrows():
    brewery_a = row_a['Brewery']
    best_score = 0
    best_match = ''
    for index, row_b in df_b.iterrows():
        brewery_b = row_b['Brewery']
        score = jellyfish.soundex(brewery_a) == jellyfish.soundex(brewery_b)
        if score > best_score:
            best_score = score
            best_match = brewery_b
    matches.append((brewery_a, best_match, best_score))

# Create a dataframe from the matches list
df_matches = pd.DataFrame(matches, columns=['Brewery A', 'Brewery B', 'Score'])

In [63]:
high_score_matches = df_matches[df_matches['Score'] ==1]

In [64]:
high_score_matches

,Brewery A,Brewery B,Score
9,2nd Shift Brewery,2nd Shift Brewing,True
28,A1A Aleworks,Alewerks Brewing Company,True
30,ALDI Stores Australia,Alltech's Lexington Brewing and Distilling Co.,True
41,Abbey Brewing Co.,Abbey Brewing Co. (Monastery Of Christ In The ...,True
47,Academy of Fine Beers,Aktienbrauerei Kaufbeuren AG,True
...,...,...,...
4744,Yuengling Brewery,Yuengling Brewery,True
4772,ÂÅ½ateckÃ½ Pivovar,Å½ateckÃ½ Pivovar,True
4774,Ã lâabri de la TempÃªte,Alvarado Street Brewery,True
4783,Ãufi Brauerei,Abbey Brewing Co. (Monastery Of Christ In The ...,True
4786,ÅÃ³dzkie Browary S.A.,Å½ateckÃ½ Pivovar,True

In [68]:
import jellyfish

# Read csv files
df_a = pd.read_csv('a.csv')
df_b = pd.read_csv('b.csv')

# Create an empty list to store the matches
matches = []

# Iterate over each row in file a and find the closest match in file b using The Metaphone and Double Metaphone Algorithms
for index, row_a in df_a.iterrows():
    brewery_a = row_a['Brewery']
    best_score = 0
    best_match = ''
    for index, row_b in df_b.iterrows():
        brewery_b = row_b['Brewery']
        score = jellyfish.match_rating_codex(brewery_a) == jellyfish.match_rating_codex(brewery_b)
        if score > best_score:
            best_score = score
            best_match = brewery_b
    matches.append((brewery_a, best_match, best_score))

# Create a dataframe from the matches list
df_matches = pd.DataFrame(matches, columns=['Brewery A', 'Brewery B', 'Score'])

In [69]:
high_score_matches = df_matches[df_matches['Score'] ==1]
high_score_matches

,Brewery A,Brewery B,Score
15,4th Street Brewing Co.,14th Star Brewing Co.,True
16,4th Street Brewing Company,The St. George Brewing Company,True
18,50 Back Brewing Company,Back Pew Brewing Company,True
23,75th Street Brewery,The Shed Brewery,True
40,Abbey Beverage Company (Monastery of Christ in...,Abbey Brewing Co. (Monastery Of Christ In The ...,True
...,...,...,...
4617,West Virginia Brewing Company,West Sixth Brewing Company,True
4637,Whitewater Brewing Co,White Street Brewing Co.,True
4735,Yellowhammer Brewing,Yellow Dog Brewing,True
4744,Yuengling Brewery,Yuengling Brewery,True
4772,Žatecký Pivovar,Žatecký Pivovar,True

In [ ]:
#BO

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Load data from csv files
df_a = pd.read_csv('a.csv')
df_b = pd.read_csv('b.csv')

# Merge the Beer Name (Full) columns from both dataframes into one
df_a_b = pd.concat([df_a['Brewery'], df_b['Brewery']])
df_a_b = df_a_b.reset_index(drop=True)

# Create a TfidfVectorizer object to convert the beer names into vectors
vectorizer = TfidfVectorizer()

# Fit the vectorizer on the combined beer names
vectors = vectorizer.fit_transform(df_a_b)

# Calculate the cosine similarity matrix
cosine_sim_matrix = cosine_similarity(vectors)

# Create an empty list to store the matches
matches = []

# Iterate over each row in df_a and find the closest match in df_b using cosine similarity
for index, row_a in df_a.iterrows():
    beer_a = row_a['Brewery']
    vector_a = vectorizer.transform([beer_a])
    best_score = 0
    best_match = ''
    for index, row_b in df_b.iterrows():
        beer_b = row_b['Brewery']
        vector_b = vectorizer.transform([beer_b])
        score = cosine_similarity(vector_a, vector_b)[0][0]
        if score > best_score:
            best_score = score
            best_match = beer_b
    matches.append((beer_a, best_match, best_score))

# Create a dataframe from the matches list
df_matches = pd.DataFrame(matches, columns=['Brewery A', 'Brewery B', 'Score'])

# Filter the rows where the score is greater than or equal to 0.8
df_filtered_matches = df_matches[df_matches['Score'] >= 0.8]

# Print the filtered matches
print(df_filtered_matches)

In [71]:
high_score_matches = df_matches[df_matches['Score'] ==1]
high_score_matches

                     Brewery A                      Brewery B  Score
264   Barley's Brewing Company  Gnarly Barley Brewing Company    1.0
328                 Beer Works               Frost Beer Works    1.0
495      Bières de Chimay S.A.               Bières de Chimay    1.0
689     Brasserie Dieu Du Ciel        Brasserie Dieu du Ciel!    1.0
824       Brauerei Früh Am Dom           Brauerei Früh am Dom    1.0
1215    C.J.'s Brewing Company       Trillium Brewing Company    1.0
1216               C.K. Browar                   Browar Pinta    1.0
1764               F&M Brewery                  Eagle Brewery    1.0
1773     Falls Brewing Company     Kent Falls Brewing Company    1.0
2394    Island Brewing Company   Coney Island Brewing Company    1.0
2891             Marston's PLC                 Marston's Plc.    1.0
3606                    Q Beer                  MobCraft Beer    1.0
3616         R & B Brewing Co.             Zipline Brewing Co    1.0
4292        The Hidden Brewery      The Hidden Mother Brewery    1.0
4744        Yuengling Brewery               Yuengling Brewery    1.0

In [3]:
c = pd.read_csv('c.csv')
d = pd.read_csv('d.csv')

In [77]:
c

                                       Beer Name (Full)
0                             Alaskan Brewing Co. Amber
1     Uerige Obergärige Hausbrauerei GmbH / Zum Ueri...
2     Uerige Obergärige Hausbrauerei GmbH / Zum Ueri...
3     Widmer Brothers Brewing Company Okto Festival Ale
4                   The Olde Mecklenburg Brewery Copper
...                                                 ...
2455                 Fremont Brewing Company Winter Ale
2456      RJ Rockers Brewing Company The First Snow Ale
2457  Anchor Brewing Company Our Special Ale 2019 (A...
2458  Shmaltz Brewing Company He'Brew Hanukkah, Chan...
2459  Hoppin' Frog Brewery Frosted Frog Christmas Al...

[2460 rows x 1 columns]

In [78]:
d

                                          beer_name_full
0                        (512) Brewing Company (512) Alt
1                  (512) Brewing Company (512) Black IPA
2      (512) Brewing Company (512) Brandy Barrel Aged...
3                      (512) Brewing Company (512) Bruin
4       (512) Brewing Company (512) Cascabel Cream Stout
...                                                  ...
25586                        Ölvisholt Brugghús Sorbon X
25587              Ölvisholt Brugghús Ölvisholt Jólabjór
25588         Ölvisholt Brugghús Ölvisholt Jólabjór 2008
25589        Ölvisholt Brugghús Ölvisholt Páskabjór 2009
25590  Ölvisholt Brugghús Ölvisholt Vatnajökull Froze...

[25591 rows x 1 columns]

In [79]:
c.head(50).to_csv('c_new.csv', index=False)
c_new = pd.read_csv('c_new.csv')

In [4]:
d.head(100).to_csv('d_new.csv', index=False)
d_new = pd.read_csv('d_new.csv')

In [84]:
# Import libraries
import pandas as pd
from fuzzywuzzy import fuzz

# Load data from csv files
df_c = pd.read_csv('c.csv')
df_d = pd.read_csv('d.csv')

# Create an empty list to store the matches
matches = []

# Iterate over each row in df_c and find the closest match in df_d using Levenshtein distance
for index, row_c in df_c.iterrows():
    beer_c = row_c['Beer Name (Full)']
    best_score = 0
    best_match = ''
    for index, row_d in df_d.iterrows():
        beer_d = row_d['beer_name_full']
        score = fuzz.ratio(beer_c.lower(), beer_d.lower())
        if score > best_score:
            best_score = score
            best_match = beer_d
    matches.append((beer_c, best_match, best_score))

# Create a dataframe from the matches list
df_matches = pd.DataFrame(matches, columns=['Beer Name (Full) C', 'Beer Name Full D', 'Score'])

# Filter the rows where the score is higher than 90
df_filtered_matches = df_matches[df_matches['Score'] > 90]

In [85]:
df_filtered_matches

,Beer Name (Full) C,Beer Name Full D,Score
1,Uerige Obergärige Hausbrauerei GmbH / Zum Ueri...,Uerige Obergärige Hausbrauerei GmbH / Zum Ueri...,95
2,Uerige Obergärige Hausbrauerei GmbH / Zum Ueri...,Uerige Obergärige Hausbrauerei GmbH / Zum Ueri...,94
4,The Olde Mecklenburg Brewery Copper,The Olde Mecklenburg Brewery OMB Copper,95
8,August Schell Brewing Company Schell's Schmalt...,August Schell Brewing Company Schmaltz's Alt,91
10,Evolution Craft Brewing Company Secret Spot Al...,Evolution Craft Brewing Company Secret Spot Wi...,93
...,...,...,...
2425,Cascade Brewing / Raccoon Lodge & Brewpub Sang...,Cascade Brewing / Raccoon Lodge & Brewpub Casc...,93
2426,Cascade Brewing / Raccoon Lodge & Brewpub Casc...,Cascade Brewing / Raccoon Lodge & Brewpub Casc...,96
2441,Southern Tier Brewing Company Old Man Winter,Southern Tier Brewing Company Old Man (Winter ...,94
2456,RJ Rockers Brewing Company The First Snow Ale,RJ Rockers Brewing Company First Snow Ale,95
2457,Anchor Brewing Company Our Special Ale 2019 (A...,Anchor Brewing Company Our Special Ale 2001 (A...,98

In [90]:
# Import libraries
import pandas as pd
import jellyfish

# Load data from csv files
df_c = pd.read_csv('c.csv', encoding='ISO-8859-1')
df_d = pd.read_csv('d.csv', encoding='ISO-8859-1')

# Create an empty list to store the matches
matches = []

# Iterate over each row in df_c and find the closest match in df_d using Soundex Algorithm
for index, row_c in df_c.iterrows():
    beer_c = row_c['Beer Name (Full)']
    best_score = 0
    best_match = ''
    for index, row_d in df_d.iterrows():
        beer_d = row_d['beer_name_full']
        score = jellyfish.soundex(beer_c) == jellyfish.soundex(beer_d)
        if score > best_score:
            best_score = score
            best_match = beer_d
    matches.append((beer_c, best_match, best_score))

# Create a dataframe from the matches list
df_matches = pd.DataFrame(matches, columns=['Beer Name (Full) C', 'Beer Name Full D', 'Score'])

# Filter the rows where the score is equal to 1 (exact match)
df_filtered_matches = df_matches[df_matches['Score'] == 1]

In [91]:
df_filtered_matches

,Beer Name (Full) C,Beer Name Full D,Score
0,Alaskan Brewing Co. Amber,Alaskan Brewing Co. Alaskan Amber,True
1,Uerige ObergÃ¤rige Hausbrauerei GmbH / Zum Uer...,Uerige ObergÃ¤rige Hausbrauerei GmbH / Zum Uer...,True
2,Uerige ObergÃ¤rige Hausbrauerei GmbH / Zum Uer...,Uerige ObergÃ¤rige Hausbrauerei GmbH / Zum Uer...,True
3,Widmer Brothers Brewing Company Okto Festival Ale,Widmer Brothers Brewing Company 100th Harvest ...,True
4,The Olde Mecklenburg Brewery Copper,The Olde Mecklenburg Brewery Bauern Bock,True
...,...,...,...
2455,Fremont Brewing Company Winter Ale,"Fireman's Brew, Inc. Fireman's Brew Blonde",True
2456,RJ Rockers Brewing Company The First Snow Ale,RJ Rockers Brewing Company Bald Eagle Brown,True
2457,Anchor Brewing Company Our Special Ale 2019 (A...,Anchor Brewing Company Anchor Bock Beer,True
2458,"Shmaltz Brewing Company He'Brew Hanukkah, Chan...",Shmaltz Brewing Company Coney Island Albino Py...,True
2459,Hoppin' Frog Brewery Frosted Frog Christmas Al...,Hoppin' Frog Brewery B.O.R.I.S. #100,True

In [95]:
# Import libraries
import pandas as pd
import jellyfish

# Load data from csv files
df_c = pd.read_csv('c.csv')
df_d = pd.read_csv('d.csv')

# Create an empty list to store the matches
matches = []

# Iterate over each row in df_c and find the closest match in df_d using The Metaphone and Double Metaphone Algorithms
for index, row_c in df_c.iterrows():
    beer_c = row_c['Beer Name (Full)']
    best_score = 0
    best_match = ''
    for index, row_d in df_d.iterrows():
        beer_d = row_d['beer_name_full']
        score = jellyfish.match_rating_codex(beer_c) == jellyfish.match_rating_codex(beer_d)
        if score > best_score:
            best_score = score
            best_match = beer_d
    matches.append((beer_c, best_match, best_score))

# Create a dataframe from the matches list
df_matches = pd.DataFrame(matches, columns=['Beer Name (Full) C', 'Beer Name Full D', 'Score'])

# Filter the rows where the score is equal to 1 (exact match)
df_filtered_matches = df_matches[df_matches['Score'] == 1]

In [97]:
df_filtered_matches

,Beer Name (Full) C,Beer Name Full D,Score
1518,(512) Brewing Company (512) Pecan Porter(512) ...,(512) Brewing Company (512) Pecan Porter,0.982782
1591,(512) Brewing Company (512) Whiskey Barrel Age...,(512) Brewing Company (512) Whiskey Barrel Age...,0.977053
2233,(512) Brewing Company (512) English Strong Ale...,(512) Brewing Company (512) IPA,0.818482

In [5]:
# Import libraries
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Load data from csv files
df_c = pd.read_csv('c.csv')
df_d = pd.read_csv('d_new.csv')

# Merge the Beer Name (Full) columns from both dataframes into one
df_c_d = pd.concat([df_c['Beer Name (Full)'], df_d['beer_name_full']])
df_c_d = df_c_d.reset_index(drop=True)

# Create a TfidfVectorizer object to convert the beer names into vectors
vectorizer = TfidfVectorizer()

# Fit the vectorizer on the combined beer names
vectors = vectorizer.fit_transform(df_c_d)

# Calculate the cosine similarity matrix
cosine_sim_matrix = cosine_similarity(vectors)

# Create an empty list to store the matches
matches = []

# Iterate over each row in df_c and find the closest match in df_d using cosine similarity
for index, row_c in df_c.iterrows():
    beer_c = row_c['Beer Name (Full)']
    vector_c = vectorizer.transform([beer_c])
    best_score = 0
    best_match = ''
    for index, row_d in df_d.iterrows():
        beer_d = row_d['beer_name_full']
        vector_d = vectorizer.transform([beer_d])
        score = cosine_similarity(vector_c, vector_d)[0][0]
        if score > best_score:
            best_score = score
            best_match = beer_d
    matches.append((beer_c, best_match, best_score))

# Create a dataframe from the matches list
df_matches = pd.DataFrame(matches, columns=['Beer Name (Full) C', 'Beer Name Full D', 'Score'])

# Filter the rows where the score is greater than or equal to 0.8
df_filtered_matches = df_matches[df_matches['Score'] >= 0.8]

In [6]:
df_filtered_matches = df_matches[df_matches['Score'] >= 0.5]

In [7]:
df_filtered_matches

,Beer Name (Full) C,Beer Name Full D,Score
25,21st Amendment Brewery Lower De Boom Barleywine,21st Amendment Brewery Lower Da Boom Barleywine,0.840477
746,Founders Brewing Company Double Trouble,21st Amendment Brewery Double Trouble IPA,0.639993
1103,Harpoon Brewery Octoberfest Beer,21st Amendment Brewery Octoberfest,0.560873
1518,(512) Brewing Company (512) Pecan Porter(512) ...,(512) Brewing Company (512) Pecan Porter,0.982801
1591,(512) Brewing Company (512) Whiskey Barrel Age...,(512) Brewing Company (512) Whiskey Barrel Age...,0.977017
1893,10 Barrel Brewing Co. Cucumber Crush,10 Barrel Brewing Co. 10 Barrel IPA,0.537703
2233,(512) Brewing Company (512) English Strong Ale...,(512) Brewing Company (512) IPA,0.820247