In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [2]:
df_reviews = pd.read_csv('beer_reviews.csv')
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586614 entries, 0 to 1586613
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   brewery_id          1586614 non-null  int64
 1   brewery_name        1586599 non-null  object
 2   review_time         1586614 non-null  int64
 3   review_overall      1586614 non-null  float64
 4   review_aroma        1586614 non-null  float64
 5   review_appearance   1586614 non-null  float64
 6   review_profilename  1586266 non-null  object
 7   beer_style          1586614 non-null  object
 8   review_palate       1586614 non-null  float64
 9   review_taste        1586614 non-null  float64
 10  beer_name           1586614 non-null  object
 11  beer_abv            1518829 non-null  float64
 12  beer_beerid         1586614 non-null  int64
dtypes: float64(6), int64(3), object(4)
memory usage: 157.4+ MB

In [3]:
df_reviews.head(10)

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883
5,1075,Caldera Brewing Company,1325524659,3.0,3.5,3.5,oline73,Herbed / Spiced Beer,3.0,3.5,Caldera Ginger Beer,4.7,52159
6,1075,Caldera Brewing Company,1318991115,3.5,3.5,3.5,Reidrover,Herbed / Spiced Beer,4.0,4.0,Caldera Ginger Beer,4.7,52159
7,1075,Caldera Brewing Company,1306276018,3.0,2.5,3.5,alpinebryant,Herbed / Spiced Beer,2.0,3.5,Caldera Ginger Beer,4.7,52159
8,1075,Caldera Brewing Company,1290454503,4.0,3.0,3.5,LordAdmNelson,Herbed / Spiced Beer,3.5,4.0,Caldera Ginger Beer,4.7,52159
9,1075,Caldera Brewing Company,1285632924,4.5,3.5,5.0,augustgarage,Herbed / Spiced Beer,4.0,4.0,Caldera Ginger Beer,4.7,52159

In [4]:
# Group df_reviews by brewery name and beer name, then calculate the mean of the review scores for each group
df_scores = df_reviews.drop(['brewery_id', 'review_time', 'review_profilename', 'beer_style', 'beer_beerid', 'beer_abv'], axis=1)\
                     .groupby(by=['brewery_name', 'beer_name'], as_index=False).mean()

# Count the number of reviews for each brewery and beer combination
df_scores_count = df_reviews.drop(['brewery_id', 'review_time', 'review_profilename', 'beer_style', 'beer_beerid', 'beer_abv'], axis=1)\
                            .groupby(by=['brewery_name', 'beer_name'], as_index=False)['review_overall']\
                            .count()\
                            .rename(columns={'review_overall': 'number_of_reviews'})

# Merge the two DataFrames on brewery and beer names
df_scores = pd.merge(df_scores, df_scores_count, on=['brewery_name', 'beer_name'])

df_scores.head()

,brewery_name,beer_name,review_overall,review_aroma,review_appearance,review_palate,review_taste,number_of_reviews
0,'t Hofbrouwerijke,Blondelle,4.000000,4.500000,3.500000,4.000000,4.000000,1
1,'t Hofbrouwerijke,Bosprotter,3.722222,3.833333,3.666667,3.611111,3.777778,9
2,'t Hofbrouwerijke,Hof Korvatunturi,3.750000,4.000000,3.750000,3.500000,3.750000,2
3,'t Hofbrouwerijke,Hofblues,3.812500,3.812500,4.000000,3.625000,3.593750,16
4,'t Hofbrouwerijke,Hofdraak,3.357143,3.428571,3.714286,3.142857,3.428571,7

In [5]:
# Load second data set - Beer Profile
df_profile = pd.read_csv('beer_data_set.csv')
df_profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5558 entries, 0 to 5557
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         5556 non-null   object
 1   key          5558 non-null   int64
 2   Style        5558 non-null   object
 3   Style Key    5558 non-null   int64
 4   Brewery      5558 non-null   object
 5   Description  5558 non-null   object
 6   ABV          5558 non-null   float64
 7   Ave Rating   5558 non-null   float64
 8   Min IBU      5558 non-null   int64
 9   Max IBU      5558 non-null   int64
 10  Astringency  5558 non-null   int64
 11  Body         5558 non-null   int64
 12  Alcohol      5558 non-null   int64
 13  Bitter       5558 non-null   int64
 14  Sweet        5558 non-null   int64
 15  Sour         5558 non-null   int64
 16  Salty        5558 non-null   int64
 17  Fruits       5558 non-null   int64
 18  Hoppy        5558 non-null   int64
 19  Spices       5558 non-null   int64
 20  Malty        5558 non-null   int64
dtypes: float64(2), int64(15), object(4)
memory usage: 912.0+ KB

In [6]:
df_profile.head()

,Name,key,Style,Style Key,Brewery,Description,ABV,Ave Rating,Min IBU,Max IBU,...,Body,Alcohol,Bitter,Sweet,Sour,Salty,Fruits,Hoppy,Spices,Malty
0,Amber,251,Altbier,8,Alaskan Brewing Co.,"Notes:Richly malty and long on the palate, wit...",5.3,3.65,25,50,...,32,9,47,74,33,0,33,57,8,111
1,Double Bag,252,Altbier,8,Long Trail Brewing Co.,"Notes:This malty, full-bodied double alt is al...",7.2,3.90,25,50,...,57,18,33,55,16,0,24,35,12,84
2,Long Trail Ale,253,Altbier,8,Long Trail Brewing Co.,Notes:Long Trail Ale is a full-bodied amber al...,5.0,3.58,25,50,...,37,6,42,43,11,0,10,54,4,62
3,Doppelsticke,254,Altbier,8,Uerige Obergärige Hausbrauerei,Notes:,8.5,4.15,25,50,...,55,31,47,101,18,1,49,40,16,119
4,Scurry,255,Altbier,8,Off Color Brewing,Notes:Just cause it's dark and German doesn't ...,5.3,3.67,25,50,...,69,10,63,120,14,0,19,36,15,218

In [7]:
# Display `df_profile` rows with null values (missing beer names)
df_profile[df_profile['Name'].isnull()]

,Name,key,Style,Style Key,Brewery,Description,ABV,Ave Rating,Min IBU,Max IBU,...,Body,Alcohol,Bitter,Sweet,Sour,Salty,Fruits,Hoppy,Spices,Malty
1803,NaN,3504,Kvass,81,Monastyrskiy Kvas,Notes:,1.5,3.07,0,0,...,34,4,15,84,16,1,33,14,7,68
2150,NaN,2401,Lager - European Pale,57,Stella Artois,Notes:,5.0,3.11,18,25,...,14,10,20,19,3,0,1,26,3,26

In [8]:
# Look up data on 'Monastyrskiy Kvas' from `df_scores`
df_scores[df_scores['brewery_name']=='Monastyrskiy Kvas']


# Highlight important row
df_scores[df_scores['brewery_name']=='Monastyrskiy Kvas'].style.apply(
    lambda x: ['background: lightgreen' if x.name == 40781 else '' for i in x], 
    axis=1)

In [9]:
# Look up data on 'Stella Artois' from `df_scores`
df_scores[df_scores['brewery_name']=='Stella Artois']


# Highlight important row
df_scores[df_scores['brewery_name']=='Stella Artois'].style.apply(
    lambda x: ['background: lightgreen' if x.name == 55651 else '' for i in x], 
    axis=1)

In [10]:
# Edit `Name` column for `Stella Artois` and `Monastyrskiy Kvas` on `df_profile`
df_profile.loc[[1803, 2150],'Name'] = df_profile.loc[[1803, 2150],'Brewery']

In [11]:
# Create new column on `df_profile` indicating whether the brewery name exists on `df_scores`
df_profile['brewery_review_exists'] = np.where(df_profile['Brewery'].isin(list(df_scores['brewery_name'].unique())), 1, 0)

# Formatting for better display
slice_ = 'brewery_review_exists'

def highlight_indicator(val):
    pink = 'background-color: pink' if val < 1 else ''
    return pink

df_profile.head(10).style.set_properties(**{'background-color': '#ffffb3'}, subset=slice_)\
                         .applymap(highlight_indicator, subset=[slice_])

In [12]:
# Create new data frame (`brewery_no_scores`) listing breweries on `df_profile` with no exact match on `df_scores`
brewery_no_scores = pd.DataFrame(df_profile[df_profile['brewery_review_exists']==0]['Brewery'].unique()).set_axis(['Brewery'], axis=1)
brewery_no_scores

                                          Brewery
0                  Uerige Obergärige Hausbrauerei
1                               Off Color Brewing
2           Victory Brewing Company - Downingtown
3                            Hops & Grain Brewing
4                     Union Craft Brewing Company
..                                            ...
538  Dust Bowl Brewing Company - Downtown Taproom
539                  Griffin Claw Brewing Company
540                        Anthem Brewing Company
541                            Aslin Beer Company
542                           Stony Creek Brewery

[543 rows x 1 columns]

In [13]:
# Create new column on `df_scores` indicating whether the brewery name exists on `df_profile`
df_scores['brewery_profile_exists'] = np.where(df_scores['brewery_name'].isin(list(df_profile['Brewery'].unique())), 1, 0)

# Create new data frame (`brewery_no_profile`) listing breweries on `df_scores` with no exact match on `df_profile`
brewery_no_profile = pd.DataFrame(df_scores[df_scores['brewery_profile_exists']==0]['brewery_name'].unique()).set_axis(['Brewery'], axis=1)

In [14]:
# Load table containing saved brewery name matches ("Brewery Name Fuzzy Match List.csv")
fuzzy_match_brewery = pd.read_csv("Brewery Name Fuzzy Match List.csv")
fuzzy_match_brewery

,Brewery,matches
0,Žatecký Pivovar,Žatecký Pivovar
1,Abbey Brewing Co. (Monastery Of Christ In The ...,Abbey Brewing Co.
2,Aktienbrauerei Kaufbeuren AG,Aktien-Brauerei Kaufbeuren AG
3,Alltech's Lexington Brewing and Distilling Co.,Alltech’s Lexington Brewing and Distilling Co.
4,Asia Pacific Breweries Limited,Asia Pacific Breweries Ltd.
...,...,...
82,Urban Chestnut Brewing Company - Midtown Brewe...,Urban Chestnut Brewing Company
83,Victory Brewing Company - Downingtown,Victory Brewing Company
84,Volfas Engelman,Vofas-Engelman
85,Water Street Brewing Co.,Water Street Brewing & Ale House
86,Yuengling Brewery,Yuengling Brewery

In [15]:
# Save table as dictionary
fuzzy_match_dict = dict(zip(fuzzy_match_brewery['Brewery'], fuzzy_match_brewery['matches']))

# Replace relevant brewery names in `df_profile`
df_profile['Brewery'] = df_profile['Brewery'].replace(fuzzy_match_dict)

In [16]:
# Correcting 'brewery_review_exists' indicator column values on `df_profile` after using fuzzy matches
df_profile['brewery_review_exists'] = np.where(df_profile['Brewery'].isin(list(df_scores['brewery_name'].unique())), 1, 0)

# Correcting 'brewery_profile_exists' indicator column values on `df_scores` after using fuzzy matches
df_scores['brewery_profile_exists'] = np.where(df_scores['brewery_name'].isin(list(df_profile['Brewery'].unique())), 1, 0)

In [17]:
# Remove all brews from breweries that are not listed in either `df_profile` or `df_scores`
df_scores.drop(df_scores[df_scores['brewery_profile_exists']==0].index, axis=0, inplace=True)
df_profile.drop(df_profile[df_profile['brewery_review_exists']==0].index, axis=0, inplace=True)

In [18]:
# Create new identifier column in `df_scores` called 'beer_name_full'
# Fill column by concatenating `brewery_name` and `beer_name`
df_scores['beer_name_full'] = df_scores['brewery_name'] + ' ' + df_scores['beer_name']

# Check if all generated brew names in df_scores are unique:
df_scores['beer_name_full'].nunique() == len(df_scores.index)

True

In [19]:
# Create new identifier column in `df_profile` called 'Beer Name (Full)' 
# Fill column by concatenating `Brewery` and `Name`
df_profile['Beer Name (Full)'] = df_profile['Brewery'] + ' ' + df_profile['Name']

# Check if all generated brew names in `df_profile` are unique:
df_profile['Beer Name (Full)'].nunique() == len(df_profile.index)

False

In [20]:
# Check duplicated brew name
df_profile[df_profile['Beer Name (Full)'].duplicated()]

,Name,key,Style,Style Key,Brewery,Description,ABV,Ave Rating,Min IBU,Max IBU,...,Bitter,Sweet,Sour,Salty,Fruits,Hoppy,Spices,Malty,brewery_review_exists,Beer Name (Full)
4056,Crazy Jackass Ale,594,Rye Beer - Roggenbier,15,Sweetwater Tavern & Brewery,Notes:,5.5,3.84,10,20,...,0,0,0,0,0,0,0,0,1,Sweetwater Tavern & Brewery Crazy Jackass Ale

In [21]:
# List rows with duplicated brew name
df_profile[df_profile['Beer Name (Full)']=='Sweetwater Tavern & Brewery Crazy Jackass Ale']


# Highlight row with error
df_profile[df_profile['Beer Name (Full)']=='Sweetwater Tavern & Brewery Crazy Jackass Ale'].style.apply(
    lambda x: ['background: pink' if x.name == 4056 else '' for i in x], 
    axis=1)

In [22]:
# Remove duplicate row containing error (missing data)
df_profile.drop(4056, inplace=True)

In [23]:
# Create new column on `df_profile` indicating whether the complete brew name exists on `df_scores`
df_profile['beer_review_exists'] = np.where(df_profile['Beer Name (Full)'].isin(list(df_scores['beer_name_full'])), 1, 0)


# Formatting for better display
slice_ = 'beer_review_exists'

df_profile.head(10).style.set_properties(**{'background-color': '#ffffb3'}, subset=slice_)\
                         .applymap(highlight_indicator, subset=[slice_])

In [24]:
# Create new data frame (`beer_no_scores`) listing brews on `df_profile` with no exact match on `df_scores`
beer_no_scores = pd.DataFrame(df_profile[df_profile['beer_review_exists']==0]['Beer Name (Full)']).set_axis(['Beer Name (Full)'], axis=1)
beer_no_scores

                                       Beer Name (Full)
0                             Alaskan Brewing Co. Amber
3     Uerige Obergärige Hausbrauerei GmbH / Zum Ueri...
6     Uerige Obergärige Hausbrauerei GmbH / Zum Ueri...
7     Widmer Brothers Brewing Company Okto Festival Ale
9                   The Olde Mecklenburg Brewery Copper
...                                                 ...
5551                 Fremont Brewing Company Winter Ale
5552      RJ Rockers Brewing Company The First Snow Ale
5554  Anchor Brewing Company Our Special Ale 2019 (A...
5556  Shmaltz Brewing Company He'Brew Hanukkah, Chan...
5557  Hoppin' Frog Brewery Frosted Frog Christmas Al...

[2460 rows x 1 columns]

In [25]:
# Create new column on `df_scores` indicating whether the complete brew name exists on `df_profile`
df_scores['beer_profile_exists'] = np.where(df_scores['beer_name_full'].isin(list(df_profile['Beer Name (Full)'])), 1, 0)

# Create new data frame (`beer_no_profile`) listing brews on `df_scores` with no exact match on `df_profile`
beer_no_profile = pd.DataFrame(df_scores[df_scores['beer_profile_exists']==0]['beer_name_full']).set_axis(['beer_name_full'], axis=1)

In [26]:
fuzzy_match_beer_name = pd.read_csv('Beer Name Fuzzy Match List.csv')
fuzzy_match_beer_name

,Beer Name (Full),matches
0,(512) Brewing Company (512) Pecan Porter(512) ...,(512) Brewing Company (512) Pecan Porter
1,(512) Brewing Company (512) Whiskey Barrel Age...,(512) Brewing Company (512) Whiskey Barrel Age...
2,Žatecký Pivovar Žatec Dark Lager,Žatecký Pivovar Žatec Dark Lager
3,21st Amendment Brewery Brew Free Or Die IPA,21st Amendment Brewery 21st Amendment IPA
4,21st Amendment Brewery Lower De Boom Barleywine,21st Amendment Brewery Lower Da Boom Barleywine
...,...,...
1083,Wychwood Brewery Company Ltd Bah Humbug! Chris...,Wychwood Brewery Company Ltd Bah Humbug
1084,Wychwood Brewery Company Ltd Hobgoblin Ruby,Wychwood Brewery Company Ltd Hobgoblin
1085,Yards Brewing Co. Washington's Porter,Yards Brewing Co. General Washington's Tavern ...
1086,Zywiec Breweries PLC (Heineken) Tatra MocneZyw...,Zywiec Breweries PLC (Heineken) Tatra
1087,Zywiec Breweries PLC (Heineken) Zywiec BeerZyw...,Zywiec Breweries PLC (Heineken) Zywiec Beer

In [27]:
# Save table as dictionary
fuzzy_match_dict = dict(zip(fuzzy_match_beer_name['Beer Name (Full)'], fuzzy_match_beer_name['matches']))

# Replace relevant brewery names in `df_profile`
df_profile['Beer Name (Full)'] = df_profile['Beer Name (Full)'].replace(fuzzy_match_dict)

In [28]:
# Correcting 'beer_review_exist' indicator column values on `df_profile` after using fuzzy matches
df_profile['beer_review_exists'] = np.where(df_profile['Beer Name (Full)'].isin(list(df_scores['beer_name_full'].unique())), 1, 0)

# Correcting 'beer_profile_exists' indicator column values on `df_scores` after using fuzzy matches
df_scores['beer_profile_exists'] = np.where(df_scores['beer_name_full'].isin(list(df_profile['Beer Name (Full)'].unique())), 1, 0)

In [29]:
# Remove all brews that are not listed in either `df_profile` or `df_scores`
df_scores.drop(df_scores[df_scores['beer_profile_exists']==0].index, axis=0, inplace=True)
df_profile.drop(df_profile[df_profile['beer_review_exists']==0].index, axis=0, inplace=True)

In [30]:
len(df_scores.index)

3188

In [31]:
len(df_profile.index)

3188

In [32]:
# Drop columns that are redundant or no longer neccessary
df_profile.drop(['key', 'Style Key', 'brewery_review_exists', 'beer_review_exists', 'Ave Rating'], axis=1, inplace=True)
df_scores.drop(['brewery_name', 'beer_name', 'brewery_profile_exists', 'beer_profile_exists'], axis=1, inplace=True)


df_scores.rename(columns={"beer_name_full": "Beer Name (Full)"}, inplace=True)

In [33]:
# Join data frames to make new dataset
df_final = pd.merge(df_profile, df_scores, how='left', on=['Beer Name (Full)'])

# Re-arrange column order
df_final = df_final[['Name', 'Style', 'Brewery', 'Beer Name (Full)', 
                     'Description', 'ABV', 'Min IBU', 'Max IBU', 
                     'Astringency', 'Body', 'Alcohol', 
                     'Bitter', 'Sweet', 'Sour', 'Salty', 'Fruits', 'Hoppy', 'Spices', 'Malty', 
                     'review_aroma','review_appearance', 'review_palate', 'review_taste', 
                     'number_of_reviews', 'review_overall']]

In [34]:
# Resulting dataset:
df_final

,Name,Style,Brewery,Beer Name (Full),Description,ABV,Min IBU,Max IBU,Astringency,Body,...,Fruits,Hoppy,Spices,Malty,review_aroma,review_appearance,review_palate,review_taste,number_of_reviews,review_overall
0,Amber,Altbier,Alaskan Brewing Co.,Alaskan Brewing Co. Alaskan Amber,"Notes:Richly malty and long on the palate, wit...",5.3,25,50,13,32,...,33,57,8,111,3.498994,3.636821,3.556338,3.643863,497,3.847082
1,Double Bag,Altbier,Long Trail Brewing Co.,Long Trail Brewing Co. Double Bag,"Notes:This malty, full-bodied double alt is al...",7.2,25,50,12,57,...,24,35,12,84,3.798337,3.846154,3.904366,4.024948,481,4.034304
2,Long Trail Ale,Altbier,Long Trail Brewing Co.,Long Trail Brewing Co. Long Trail Ale,Notes:Long Trail Ale is a full-bodied amber al...,5.0,25,50,14,37,...,10,54,4,62,3.409814,3.667109,3.600796,3.631300,377,3.830239
3,Doppelsticke,Altbier,Uerige Obergärige Hausbrauerei GmbH / Zum Uerige,Uerige Obergärige Hausbrauerei GmbH / Zum Ueri...,Notes:,8.5,25,50,13,55,...,49,40,16,119,4.148098,4.033967,4.150815,4.205163,368,4.005435
4,Sleigh'r Dark Doüble Alt Ale,Altbier,Ninkasi Brewing Company,Ninkasi Brewing Company Sleigh'r Dark Doüble A...,Notes:Called 'Dark Double Alt' on the label.Se...,7.2,25,50,25,51,...,11,51,20,95,3.625000,3.973958,3.734375,3.765625,96,3.817708
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3183,Winter Shredder,Winter Warmer,Cisco Brewers Inc.,Cisco Brewers Inc. Winter Shredder,Notes:,8.8,35,50,15,37,...,23,45,67,74,4.125000,3.875000,3.875000,3.750000,4,4.000000
3184,The First Snow Ale,Winter Warmer,RJ Rockers Brewing Company,RJ Rockers Brewing Company First Snow Ale,Notes:This hearty American pale ale contains a...,6.0,35,50,15,31,...,54,14,140,58,3.950000,3.750000,3.760000,3.790000,50,3.730000
3185,Red Nose Winter Ale,Winter Warmer,Natty Greene's Pub & Brewing Co.,Natty Greene's Pub & Brewing Co. Red Nose Wint...,Notes:,6.8,35,50,8,44,...,26,21,96,77,3.576923,3.711538,3.596154,3.673077,26,3.711538
3186,Fish Tale Winterfish,Winter Warmer,Fish Brewing Company / Fishbowl Brewpub,Fish Brewing Company / Fishbowl Brewpub Fish T...,Notes:,7.5,35,50,11,36,...,81,110,18,73,3.902299,3.885057,3.862069,3.902299,87,3.879310
3187,Frosted Frog Christmas Ale - Barrel-Aged,Winter Warmer,Hoppin' Frog Brewery,Hoppin' Frog Brewery Barrel Aged Frosted Frog ...,Notes:The essence of Christmas is captured in ...,8.6,35,50,8,50,...,33,16,148,69,3.888889,3.694444,3.833333,3.555556,18,3.527778

In [35]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3188 entries, 0 to 3187
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               3188 non-null   object
 1   Style              3188 non-null   object
 2   Brewery            3188 non-null   object
 3   Beer Name (Full)   3188 non-null   object
 4   Description        3188 non-null   object
 5   ABV                3188 non-null   float64
 6   Min IBU            3188 non-null   int64
 7   Max IBU            3188 non-null   int64
 8   Astringency        3188 non-null   int64
 9   Body               3188 non-null   int64
 10  Alcohol            3188 non-null   int64
 11  Bitter             3188 non-null   int64
 12  Sweet              3188 non-null   int64
 13  Sour               3188 non-null   int64
 14  Salty              3188 non-null   int64
 15  Fruits             3188 non-null   int64
 16  Hoppy              3188 non-null   int64
 17  Spices             3188 non-null   int64
 18  Malty              3188 non-null   int64
 19  review_aroma       3188 non-null   float64
 20  review_appearance  3188 non-null   float64
 21  review_palate      3188 non-null   float64
 22  review_taste       3188 non-null   float64
 23  number_of_reviews  3188 non-null   int64
 24  review_overall     3188 non-null   float64
dtypes: float64(6), int64(14), object(5)
memory usage: 647.6+ KB

In [36]:
df_beer = df_final.drop(['Name', 'Brewery', 'Beer Name (Full)', 'Description'], axis=1)

In [37]:
df_beer.columns

Index(['Style', 'ABV', 'Min IBU', 'Max IBU', 'Astringency', 'Body', 'Alcohol',
       'Bitter', 'Sweet', 'Sour', 'Salty', 'Fruits', 'Hoppy', 'Spices',
       'Malty', 'review_aroma', 'review_appearance', 'review_palate',
       'review_taste', 'number_of_reviews', 'review_overall'],
      dtype='object')

In [38]:
from sklearn.preprocessing import LabelEncoder

# Create a LabelEncoder object
le = LabelEncoder()

# Fit the LabelEncoder to the Style column and transform its values
df_beer['Style'] = le.fit_transform(df_beer['Style'])

In [39]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Define X (features) and y (target)
X = df_beer.drop('review_overall', axis=1)
y = df_beer['review_overall']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create the linear regression model
model = LinearRegression()

# Fit the model to the training data
model.fit(X_train, y_train)

# Predict the target variable for the test data
y_pred = model.predict(X_test)

# Evaluate the model using mean squared error
mse = mean_squared_error(y_test, y_pred)
print('Mean squared error:', mse)

Mean squared error: 0.021663874401229733

In [40]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df_beer.drop('review_overall', axis=1), df_beer['review_overall'], test_size=0.2, random_state=42)

# Instantiate a Random Forest regressor
rf = RandomForestRegressor(n_estimators=100, random_state=42)

# Train the model on the training data
rf.fit(X_train, y_train)

# Predict the review_overall values for the test data
y_pred = rf.predict(X_test)

# Evaluate the model using metrics such as mean squared error (MSE) and R-squared
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print('Mean squared error:', mse)
print('R-squared:', r2)

Mean squared error: 0.022950145780684963
R-squared: 0.888495994890612

In [41]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.optimizers import Adam

# Define the model architecture
model = Sequential()
model.add(Dense(64, activation='relu', input_dim=len(df_beer.columns)-1))
model.add(Dropout(0.2))
model.add(Dense(32, activation='relu'))
model.add(Dense(1))

# Compile the model
model.compile(loss='mean_squared_error', optimizer=Adam())

# Train the model
model.fit(X_train, y_train, epochs=100, batch_size=64, validation_data=(X_test, y_test))

# Evaluate the model
mse = model.evaluate(X_test, y_test)
print('MSE:', mse)

2023-04-11 16:38:28.853349: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-04-11 16:38:39.703177: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

Epoch 1/100
40/40 [==============================] - 1s 5ms/step - loss: 857.3907 - val_loss: 18.9652
Epoch 2/100
40/40 [==============================] - 0s 2ms/step - loss: 180.4851 - val_loss: 10.3605
Epoch 3/100
40/40 [==============================] - 0s 2ms/step - loss: 114.6700 - val_loss: 9.2015
Epoch 4/100
40/40 [==============================] - 0s 2ms/step - loss: 85.2725 - val_loss: 17.8319
Epoch 5/100
40/40 [==============================] - 0s 2ms/step - loss: 67.0664 - val_loss: 6.7368
Epoch 6/100
40/40 [==============================] - 0s 1ms/step - loss: 55.4547 - val_loss: 5.5937
Epoch 7/100
40/40 [==============================] - 0s 1ms/step - loss: 40.8889 - val_loss: 8.9191
Epoch 8/100
40/40 [==============================] - 0s 1ms/step - loss: 38.5085 - val_loss: 4.5910
Epoch 9/100
40/40 [==============================] - 0s 2ms/step - loss: 29.1828 - val_loss: 4.3164
Epoch 10/100
40/40 [==============================] - 0s 1ms/step - loss: 24.6184 - val_loss: 3.5986
Epoch 11/100
40/40 [==============================] - 0s 1ms/step - loss: 21.7486 - val_loss: 2.5595
Epoch 12/100
40/40 [==============================] - 0s 1ms/step - loss: 18.1423 - val_loss: 2.6206
Epoch 13/100
40/40 [==============================] - 0s 1ms/step - loss: 19.2979 - val_loss: 1.8066
Epoch 14/100
40/40 [==============================] - 0s 1ms/step - loss: 14.8133 - val_loss: 2.7510
Epoch 15/100
40/40 [==============================] - 0s 1ms/step - loss: 11.4496 - val_loss: 2.5719
Epoch 16/100
40/40 [==============================] - 0s 1ms/step - loss: 10.0286 - val_loss: 2.7992
Epoch 17/100
40/40 [==============================] - 0s 1ms/step - loss: 11.3293 - val_loss: 1.9916
Epoch 18/100
40/40 [==============================] - 0s 1ms/step - loss: 9.5374 - val_loss: 3.1628
Epoch 19/100
40/40 [==============================] - 0s 1ms/step - loss: 8.1824 - val_loss: 3.3764
Epoch 20/100
40/40 [==============================] - 0s 1ms/step - loss: 10.1399 - val_loss: 3.0078
Epoch 21/100
40/40 [==============================] - 0s 1ms/step - loss: 8.4517 - val_loss: 3.2660
Epoch 22/100
40/40 [==============================] - 0s 1ms/step - loss: 6.0933 - val_loss: 1.8207
Epoch 23/100
40/40 [==============================] - 0s 1ms/step - loss: 5.3792 - val_loss: 1.3496
Epoch 24/100
40/40 [==============================] - 0s 2ms/step - loss: 6.7690 - val_loss: 1.7353
Epoch 25/100
40/40 [==============================] - 0s 2ms/step - loss: 5.2852 - val_loss: 1.6327
Epoch 26/100
40/40 [==============================] - 0s 1ms/step - loss: 4.8849 - val_loss: 1.3923
Epoch 27/100
40/40 [==============================] - 0s 2ms/step - loss: 4.5988 - val_loss: 1.4125
Epoch 28/100
40/40 [==============================] - 0s 2ms/step - loss: 3.6698 - val_loss: 1.0886
Epoch 29/100
40/40 [==============================] - 0s 1ms/step - loss: 3.8710 - val_loss: 1.0649
Epoch 30/100
40/40 [==============================] - 0s 2ms/step - loss: 4.1895 - val_loss: 1.1696
Epoch 31/100
40/40 [==============================] - 0s 1ms/step - loss: 3.8923 - val_loss: 0.9765
Epoch 32/100
40/40 [==============================] - 0s 1ms/step - loss: 3.1342 - val_loss: 1.2044
Epoch 33/100
40/40 [==============================] - 0s 1ms/step - loss: 3.3916 - val_loss: 2.5613
Epoch 34/100
40/40 [==============================] - 0s 1ms/step - loss: 3.5765 - val_loss: 1.4011
Epoch 35/100
40/40 [==============================] - 0s 1ms/step - loss: 3.2443 - val_loss: 0.8803
Epoch 36/100
40/40 [==============================] - 0s 1ms/step - loss: 3.8398 - val_loss: 0.6192
Epoch 37/100
40/40 [==============================] - 0s 1ms/step - loss: 2.5372 - val_loss: 0.9815
Epoch 38/100
40/40 [==============================] - 0s 1ms/step - loss: 2.6057 - val_loss: 0.7878
Epoch 39/100
40/40 [==============================] - 0s 2ms/step - loss: 4.7500 - val_loss: 1.0114
Epoch 40/100
40/40 [==============================] - 0s 1ms/step - loss: 2.2633 - val_loss: 0.6872
Epoch 41/100
40/40 [==============================] - 0s 1ms/step - loss: 1.8866 - val_loss: 0.8799
Epoch 42/100
40/40 [==============================] - 0s 1ms/step - loss: 1.9273 - val_loss: 0.7396
Epoch 43/100
40/40 [==============================] - 0s 1ms/step - loss: 1.8137 - val_loss: 0.8021
Epoch 44/100
40/40 [==============================] - 0s 1ms/step - loss: 1.7220 - val_loss: 0.5670
Epoch 45/100
40/40 [==============================] - 0s 1ms/step - loss: 2.0699 - val_loss: 0.7099
Epoch 46/100
40/40 [==============================] - 0s 1ms/step - loss: 1.7276 - val_loss: 0.7211
Epoch 47/100
40/40 [==============================] - 0s 1ms/step - loss: 1.7226 - val_loss: 0.7510
Epoch 48/100
40/40 [==============================] - 0s 2ms/step - loss: 1.5447 - val_loss: 0.6074
Epoch 49/100
40/40 [==============================] - 0s 2ms/step - loss: 1.3680 - val_loss: 0.6255
Epoch 50/100
40/40 [==============================] - 0s 1ms/step - loss: 1.1687 - val_loss: 0.6225
Epoch 51/100
40/40 [==============================] - 0s 1ms/step - loss: 1.1380 - val_loss: 0.5234
Epoch 52/100
40/40 [==============================] - 0s 1ms/step - loss: 1.4995 - val_loss: 0.4515
Epoch 53/100
40/40 [==============================] - 0s 1ms/step - loss: 1.2695 - val_loss: 0.5636
Epoch 54/100
40/40 [==============================] - 0s 1ms/step - loss: 1.3710 - val_loss: 0.9267
Epoch 55/100
40/40 [==============================] - 0s 1ms/step - loss: 1.0313 - val_loss: 0.4318
Epoch 56/100
40/40 [==============================] - 0s 1ms/step - loss: 1.1382 - val_loss: 0.6729
Epoch 57/100
40/40 [==============================] - 0s 1ms/step - loss: 0.9603 - val_loss: 0.4494
Epoch 58/100
40/40 [==============================] - 0s 1ms/step - loss: 1.0909 - val_loss: 0.4959
Epoch 59/100
40/40 [==============================] - 0s 1ms/step - loss: 0.8717 - val_loss: 0.4007
Epoch 60/100
40/40 [==============================] - 0s 2ms/step - loss: 0.7001 - val_loss: 0.3698
Epoch 61/100
40/40 [==============================] - 0s 2ms/step - loss: 0.7800 - val_loss: 0.3630
Epoch 62/100
40/40 [==============================] - 0s 1ms/step - loss: 0.7326 - val_loss: 0.3525
Epoch 63/100
40/40 [==============================] - 0s 2ms/step - loss: 0.7891 - val_loss: 0.3255
Epoch 64/100
40/40 [==============================] - 0s 1ms/step - loss: 0.7243 - val_loss: 0.3683
Epoch 65/100
40/40 [==============================] - 0s 1ms/step - loss: 0.6430 - val_loss: 0.3292
Epoch 66/100
40/40 [==============================] - 0s 1ms/step - loss: 0.7505 - val_loss: 0.3230
Epoch 67/100
40/40 [==============================] - 0s 1ms/step - loss: 0.7059 - val_loss: 0.2800
Epoch 68/100
40/40 [==============================] - 0s 2ms/step - loss: 0.6432 - val_loss: 0.3059
Epoch 69/100
40/40 [==============================] - 0s 1ms/step - loss: 0.7277 - val_loss: 0.3139
Epoch 70/100
40/40 [==============================] - 0s 1ms/step - loss: 0.6065 - val_loss: 0.3616
Epoch 71/100
40/40 [==============================] - 0s 1ms/step - loss: 0.6280 - val_loss: 0.4613
Epoch 72/100
40/40 [==============================] - 0s 1ms/step - loss: 0.6392 - val_loss: 0.3186
Epoch 73/100
40/40 [==============================] - 0s 1ms/step - loss: 0.5858 - val_loss: 0.2967
Epoch 74/100
40/40 [==============================] - 0s 1ms/step - loss: 0.6033 - val_loss: 0.4027
Epoch 75/100
40/40 [==============================] - 0s 1ms/step - loss: 0.5474 - val_loss: 0.2660
Epoch 76/100
40/40 [==============================] - 0s 1ms/step - loss: 0.8990 - val_loss: 0.3352
Epoch 77/100
40/40 [==============================] - 0s 1ms/step - loss: 1.0410 - val_loss: 0.2579
Epoch 78/100
40/40 [==============================] - 0s 1ms/step - loss: 0.8147 - val_loss: 0.4707
Epoch 79/100
40/40 [==============================] - 0s 1ms/step - loss: 0.7033 - val_loss: 0.4154
Epoch 80/100
40/40 [==============================] - 0s 1ms/step - loss: 0.6066 - val_loss: 0.2281
Epoch 81/100
40/40 [==============================] - 0s 1ms/step - loss: 0.5976 - val_loss: 0.2968
Epoch 82/100
40/40 [==============================] - 0s 1ms/step - loss: 0.4872 - val_loss: 0.2029

Epoch 83/100
40/40 [==============================] - 0s 1ms/step - loss: 0.4581 - val_loss: 0.2248
Epoch 84/100
40/40 [==============================] - 0s 2ms/step - loss: 0.4183 - val_loss: 0.2191
Epoch 85/100
40/40 [==============================] - 0s 1ms/step - loss: 0.5236 - val_loss: 0.3856
Epoch 86/100
40/40 [==============================] - 0s 2ms/step - loss: 0.4964 - val_loss: 0.2034
Epoch 87/100
40/40 [==============================] - 0s 1ms/step - loss: 0.4062 - val_loss: 0.2149
Epoch 88/100
40/40 [==============================] - 0s 2ms/step - loss: 0.3990 - val_loss: 0.1930
Epoch 89/100
40/40 [==============================] - 0s 2ms/step - loss: 0.4081 - val_loss: 0.2226
Epoch 90/100
40/40 [==============================] - 0s 2ms/step - loss: 0.4350 - val_loss: 0.2029
Epoch 91/100
40/40 [==============================] - 0s 2ms/step - loss: 0.3630 - val_loss: 0.1840
Epoch 92/100
40/40 [==============================] - 0s 2ms/step - loss: 0.4279 - val_loss: 0.2195
Epoch 93/100
40/40 [==============================] - 0s 2ms/step - loss: 0.3536 - val_loss: 0.1673
Epoch 94/100
40/40 [==============================] - 0s 1ms/step - loss: 0.4353 - val_loss: 0.1548
Epoch 95/100
40/40 [==============================] - 0s 1ms/step - loss: 0.4654 - val_loss: 0.2138
Epoch 96/100
40/40 [==============================] - 0s 1ms/step - loss: 0.3581 - val_loss: 0.3611
Epoch 97/100
40/40 [==============================] - 0s 1ms/step - loss: 0.3335 - val_loss: 0.1825
Epoch 98/100
40/40 [==============================] - 0s 1ms/step - loss: 0.3402 - val_loss: 0.1997
Epoch 99/100
40/40 [==============================] - 0s 1ms/step - loss: 0.3131 - val_loss: 0.1789
Epoch 100/100
40/40 [==============================] - 0s 2ms/step - loss: 0.3212 - val_loss: 0.1567
20/20 [==============================] - 0s 815us/step - loss: 0.1567
MSE: 0.1567150205373764